/* Карта кота */

#cat_cards {
  display: grid;
  grid-gap: 20px;
  min-height: 100vh;
  box-sizing: border-box;
  grid-template-columns: repeat(4, 1fr);
  align-content: space-around;
  justify-content: center;
  justify-items: center;
  padding: 5% 5% 5%;
}
@media (max-width: 1400px) {
  #cat_cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 820px) {
  #cat_cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

.cat-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.cat-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.cat-card h2 {
  margin: 10px 0 0;
  font-size: 24px;
}

.cat-card p {
  margin: 10px 0 0;
  font-size: 18px;
  color: #666;
}

.cat-card button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

/* ================= */

.card {
  position: relative;
  width: 79%;
  height: 22vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  -webkit-user-select: none;
  user-select: none;
  transition: 100ms;
  margin-bottom: 10%;
}

@media (max-width: 1400px) {
  .card {
    width: 80%;
    height: 30vw;
    margin-bottom: 10%;
  }
}

@media (max-width: 820px) {
  .card {
    width: 40%;
    height: 45vw;
    margin-bottom: 10%;
  }
}

@media (max-width: 560px) {
  .card {
    width: 100%;
    height: 100vw;
    margin-top: 10%;
  }
}

.card_star {
  position: absolute;
  top: 3%;
  right: 5%;
  z-index: 4;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  color: #ed8002;
}
.card input {
  opacity: 0;
  cursor: pointer;
  caret-color: transparent;
}

.card_star:hover {
  color: rgb(245, 245, 226);
  text-shadow: 0 0 10px #fafafa, 0 0 20px #fafafa, 0 0 30px #fafafa,
    0 0 40px #e6ecf0, 0 0 70px #e6eef3, 0 0 80px #e1e7ec, 0 0 100px #e5ebef;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg, #03a9f4, #ff0058);
  border-radius: 10px;
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg, #03a9f4, #ff0058);
  filter: blur(30px);
  border-radius: 10px;
  cursor: pointer;
  background: rgb(36, 3, 108);
}

.card img {
  position: absolute;
  z-index: 3;
  width: 96%;
  height: 97%;
  opacity: 1;
  transition: 0.5s;
  border-radius: 10px;
}

.card:hover img {
  margin: 0;
  transform: scale(0.7);
  opacity: 0;
  transform: translateY(-70px);
}

.card .content {
  position: absolute;
  z-index: 3;
  bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  transform: scale(0);
  transition: 0.5s;
}

.card:hover .content {
  transform: scale(0.95);
}

.content .title {
  color: #fff;
  position: relative;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
  font-size: 0.7vw;
}

@media screen and (max-width: 1400px) {
  .content .title {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 1040px) {
  .content .title {
    font-size: 0.57rem;
  }
}

@media screen and (max-width: 880px) {
  .content .title {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 820px) {
  .content .title {
    font-size: 0.7rem;
  }
}

.content .title span {
  margin-top: 10px;
  font-weight: 300;
  color: #fff;
}

.content .sci {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 0;
  color: #fff;
}

.sci button {
  list-style: none;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: rgba(21, 20, 20, 0.98);
  background: rgba(248, 247, 250, 0.887);
  fill: currentColor;
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: 0.5s;
  padding: 1%;
}

.sci button:hover {
  fill: currentColor;
  color: rgb(245, 245, 226);
  background: rgba(7, 22, 151, 0.887);
  text-shadow: 0px 0px 10px #2073c6, 0px 0px 20px #2073c6, 0px 0px 30px #2073c6,
    0px 0px 40px #c4d4e0, 0px 0px 70px #c4d4e0, 0px 0px 80px #c4d4e0,
    0px 0px 100px #c4d4e0;
}

.card .catName {
  font-weight: 600;
  top: 86%;
  right: auto;
  position: absolute;
  z-index: 3;
  opacity: 1;
  color: #f7cb05;
  font-size: 0.8vw;
  transition: 0.5s;
  margin: 5%;
  text-shadow: 0px 0px 10px #271640, 0px 0px 20px #271640, 0px 0px 30px #271640,
    0px 0px 40px #f1e504, 0px 0px 70px #f1e504, 0px 0px 80px #f1e504,
    0px 0px 100px #f1e504;
}

@media screen and (max-width: 1400px) {
  .card .catName {
    font-size: 1rem;
  }
}

@media screen and (max-width: 820px) {
  .card .catName {
    font-size: 1rem;
  }
}

.card:hover .catName {
  margin: 0p;
  transform: scale(0.7);
  opacity: 0;
  transform: translateY(-70px);
}

.card .Rate {
  font-weight: 600;
  width: max-content;
  margin: 15px;
  top: 5px;
  position: absolute;
  z-index: 3;
  opacity: 1;
  color: #f7cb05;
  font-size: 0.8vw;
  transition: 0.5s;
  text-shadow: 0px 0px 10px #503080, 0px 0px 20px #503080, 0px 0px 30px #503080,
    0px 0px 40px #f1e504, 0px 0px 70px #f1e504, 0px 0px 80px #f1e504,
    0px 0px 100px #f1e504;
}

@media screen and (max-width: 1400px) {
  .card .Rate {
    font-size: 1rem;
  }
}

@media screen and (max-width: 820px) {
  .card .Rate {
    font-size: 1rem;
  }
}

.card:hover .Rate {
  margin: 0;
  -webkit-transform: scale(0.7);
  opacity: 0;
  transform: translateY(70px);
}
