/*! Выпадающее меню */

.menu {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.1em;
  position: relative;
  color: #f7cb05;
  caret-color: transparent;
  text-shadow: 0px 0px 10px #1e1e1c, 0px 0px 20px #1e1e1c, 0px 0px 30px #1e1e1c;
  -webkit-user-select: none; /* для Safari */
  -moz-user-select: none; /* для Firefox */
  -ms-user-select: none; /* для Internet Explorer */
  user-select: none; /* стандартное свойство */
  margin-left: 10%;
}

.menu:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 10px #00ccff, 0px 0px 20px #00ccff, 0px 0px 30px #00ccff,
    0px 0px 10px #93ccf8, 0px 0px 10px #93ccf8, 0px 0px 10px #93ccf8,
    0px 0px 10px #93ccf8;
}

.menu p {
  cursor: pointer;
  border: none;
  background-color: transparent;
  max-width: max-content;
  max-height: min-content;
  border: 3px double #efc509;
  padding: 5px 15px;
  margin: 5px;
}

.dropDown {
  display: none;
  position: absolute;
  top: calc(100%);
  left: 90%;
  transform: translateX(-50%);
  background-color: #30206d;
  box-shadow: 0px 8px 16px 0px rgba(240, 234, 234, 0.2), 0px 0px 10px #76c3fd,
    0px 0px 10px #76c3fd, 0px 0px 10px #76c3fd, 0px 0px 10px #76c3fd;
  z-index: 1;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 200px;
  text-align: left;
}

.menu:hover .dropDown {
  display: block;
}

.dropDown button {
  display: block;
  width: 90%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  padding: 5px 10px;
  background-color: #1d08a2;
  color: #f7f8fa;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  font-size: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: transform 0.3s ease;
}

.dropDown button:hover {
  transform: scale(1.07);
  /* box-shadow: 0px 8px 16px 0px rgba(246, 243, 243, 0.2), 0px 0px 10px #0c4ce2,
    0px 0px 10px #092490, 0px 0px 10px #092490, 0px 0px 10px #092490; */
  box-shadow: 0px 8px 16px 0px rgba(246, 243, 243, 0.2), 0px 0px 10px #76c3fd,
    0px 0px 10px #76c3fd, 0px 0px 10px #76c3fd, 0px 0px 10px #76c3fd;
  /* box-shadow: 0px 8px 16px 0px rgba(240, 234, 234, 0.2), 0px 0px 10px #29ef0a,
    0px 0px 10px #f0ec08, 0px 0px 10px #f0ec08, 0px 0px 10px #f0ec08; */
}

/* ------------------ */

.inputSearch {
  background-color: #212121;
  max-width: 10%;
  padding: 5px;
  border: 3px double #efc509;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10%;
  color: #f7f8fa;
}

.inputSearch:focus {
  position: relative;
  color: rgba(188, 238, 255, 0.971);
  background-color: #212121;
  outline-color: rgb(0, 247, 255);
  box-shadow: -3px -3px 15px rgb(0, 208, 255);
  transition: 0.1s;
  transition-property: box-shadow;
  border: none;
}
